.customer{

}
html{
  background-image: url("https://image.ibb.co/ivUT9R/click_square2.jpg");
 height: auto;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}
